*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav{
    width: 100%;
    background: black;
}
.nav__list{
    overflow: hidden;
    color: white;
    padding: 2px;
    height:inherit;
    height: 42px;
    width: 80%;
    margin: auto;

}
.nav__list-item-logo{
    float: left;
    list-style: none;
    height: inherit;
    margin: 0 20px;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 1.1rem;
}
.nav__list-item{
    float: left;
    list-style: none;
    height: inherit;
    margin: 0 20px;
    border-left:1px solid white;
    padding: 10px 12px;
    font-weight: bold;

}
.logo{
    color: black;
    background: white;
    font-weight: bold;
    padding: 3px 8px;
    margin: 1px;
    font-size: 1.2rem;
}

.container{

}

.width-control{
    width: 80%;
    margin: auto;
}

.section1{

}

.section1-top{
    display: flex;
    justify-content: space-between;
}

.section1-btm{
    display: flex;
    justify-content: space-between;
}

.section1-right{
    flex:1;
    margin-left: 20px;
}

.section1-left {
    flex:1;
}

.section1-right > img{
    margin: 0 4px;
    width: 47%;
}
.section1-left > img{
    margin: 0 4px;
    width: 100%;
}

.section2-part1 img, .section2-part2 img, .section2-part3 img {
    width:31%;
}

.reel{
    width:100%;
    background: #7A6548;
    color: white;
    height: 60%;
    padding: 20px 0;
}

.reel-imgs {

    margin-top: 10px;

}
.reel-imgs img{
    width: 31%;
    margin: 0 1%;
}
.reel-top{
    display: flex;
}
.reel-top-left{
    flex: 1;
}
.reel-top-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.reel-top-right h3{
    margin-right: 15px;
}

.asia-news img{
    width:24%;
}

.tree-part{
    background-image: url('./bigtable/tree.png');
    width: 100%;
    background-repeat:inherit;
    color: white;
    padding: 40px 0;
    height: 60%;
}
.tree-btm img{
    width: 31%;
    margin-right: 1.5%;
}

.tree-top{
    display: flex;
}
.tree-top-left {
    flex: 1;
}
.tree-top-right {
    flex: 1;
    margin-top: 15px;
    justify-content: center;
}


.editor-part{
    background:rgb(246,246,246);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.i1 {
    width: 69%;
}
.i2{
    width: 29%;
    transform: translateY(-28%);
}

.editor-part-bottom-2 {
    width: 70%;
}

.ed-2-top img, .ed-2-bottom img{
    width: 32%;
}

.blank{
    display: flex;
}

.blank-left {
    margin-right: 20px;
}

.blank-left img, .blank-right img{
 width: 100%;
}


.large-part{
    background-color: #F6F6F6;
    padding: 35px 0;

}
.vid-part{
    background:#363636;
    color: white;
}
.vid-part > img {
    width: 100%;
}
.vid-part-btm{
    display: flex;
}

.vid-part-btm img {
    width: 33.3%;
}

.more-part {
    display: flex;
}
.more-part-right-1 > img, .more-part-right-2 > img  {
    margin: 3.5px;
}
.more-part-left{
    width: 35%;
    margin-right: 10px;
}
.more-part-left img {
    width:100%;
}
.more-part-right{
    width: 65%;
}
.i3 {
    width: 100%;
}

.more-part-right-1 img{
    width: 31%;
}

.tech-biz{
    display: flex;
}

.tech-biz-left{
    width:50%;
}

.tech-biz-right{
    width:50%;
}

.world-part-top img{
 width: 48%;
}

.world-part-btm img {
 width: 31%;
}

.bbc-in-other-langs{
    background: #F2F2F2;
    height: 360px;
    padding: 40px 0;
}

.bbc-lang-lists{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 55%;
    overflow: visible;
}


.footer {
    background: #4C4C4C;
    color: white;
    height: 260px;
    padding: 25px 0;
}

.footer-part1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer-part1 > span {
    border-left: 1px solid white;
    padding-left: 25px;
}

.footer-part2{
display: flex;
}
.mob {
    display: none;
}

@media screen and (max-width:1200px){
    .footer-part2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .mob {
        display: none;
    }
}

@media screen and (max-width:960px){
    *{
       /* background: black; */
    }

    .width-control{
        width: 92%;
        margin: auto;
    }
    body{
        max-width: 980px;
    }

    .nav{
        display:flex;
        max-width: 980px;
    }
    .nav__list{
        width:100%;
    }

    .section1-btm{
        display: flex;
        flex-direction: column;
    }

    .section1-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .section1-left img{
        width: 100%;
    }
    
    .section1-right img{
        width: 48%;
    }
    .section2-part1 img, .section2-part2 img, .section2-part3 img {
        width:31%;
    }

    .reel{

    }
    .reel-imgs img{
        width: 31%;
    }
    .editor-part-bottom-2 {
        width: 70%;
    }
    
    .ed-2-top img, .ed-2-bottom img{
        width: 32%;
    }
    .more-part-left {

    }
    .more-part-right-1 img{
        width: 47%;
    }

    .world-part-top img{
        width: 47%
    }
    .world-part-btm img {
        width: 30%;
       }
    .bbc-in-other-langs{
        height: 100%;
    }
    .bbc-lang-lists{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 20px;
    }

    .footer{
        height: 100%;
    }
    .footer-part2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .mob {
        display: none;
    }
}

@media screen and (max-width:600px){
    /* *{
        background: black;
     } */

    .width-control{
        width: 96%;
        margin: auto;
    }
    body{
        max-width: 600px;
    }

    .nav__list{
        overflow: hidden;
        color: white;
        padding: 2px;
        height:inherit;
        height: 32px;
        width: 100%;
        margin: auto;
    
    }
    .nav__list-item-logo{
        float: left;
        list-style: none;
        height: inherit;
        margin: 0 10px;
        padding: 10px 4px;
        font-weight: bold;
        font-size: 0.6rem;
        position: relative;
        top: -7px;
        
    }
    .nav__list-item{
        float: left;
        list-style: none;
        height: inherit;
        margin: 0 10px;
        border-left:1px solid white;
        padding: 4px 6px;
        font-weight: bold;
        font-size: 14px;
    }
    .logo{
        color: black;
        background: white;
        font-weight: bold;
        padding: 3px 8px;
        margin: 1px;
        font-size: 1.2rem;
    }
    .section1-top {
        display: none;
    }
    .section1-btm {
        margin-top: -30px;
    }
    .section1-right,
    .mobw,
    .section2-part3,
    .section2-part1,
    .section2-part2,
.asia-news,
.ed-2-top,
.ed-2-bottom,
.i2,
.vid-part-btm,
.more-part-left,
.more-part-right-1,
.vid-part-mid,
.world-part-btm
    {
        display:none;
    }

    .mob {
        display: inline;
        width: 96%;
        margin: auto;
    }

    .reel-imgs img{
        width: 31%;
    }
    .editor-part-bottom-2 {
        width: 100%;
    }

    .more-part-right {
        width: 100%;
    }
    .vid-part{
        background: white;
    }
    .blank{
        display: flex;
        flex-direction: column;
    }

    .blank-left img, .blank-right img{
     width: 100%;
    }
    .tech-biz{
        display: flex;
        flex-direction: column;
    }
    .tech-biz-left, .tech-biz-right {
        width: 99%;
        margin: auto;
    }
    .world-part-top img {
        width: 100%;
        margin: auto;
    }
    .editor-part-bottom-1 img{
        width: 100%;
    }
    .reel-imgs img {
        width: 96%;
        margin:5px;
    }

    .tree-part img {
        width: 96%;
        margin: 8px; 
    }
}