<div class="main-container">
  <h2>Hassaan Ali</h2>
   <input type="text" placeholder="Add an item" class="todo-input" [(ngModel)]='name'/>
   <br>
   <button (click)="Add()" class="btn-1">Add</button>
</div>

<div class="container">
  <ul class="list-ul">
    <li *ngFor="let todo of todos;index as i" class="todo-li">
      
      <div class="li-span">
        <span>
          {{todo.name}}
        </span>
      </div>
      
      <div class="buttons">
        
        <button (click)="Remove(i)" class="btn-2">Remove Task</button>
      </div>
      
    </li>
  </ul>

</div>